body {
  background-image: url("background.jpg");
}

.click {
  border: 2px  dotted white;
  padding: 15px;
  border-radius: 20px;
  display: inline-block;
  margin-left: 30%;
  margin-top: 3%;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Comic Sans MS';
}

a.link {
  text-decoration: none;
  color: white;
}
